OPENAI_API_KEY=
PORT=8022
A2A_REGISTRY_URL=http://127.0.0.1:8090
MONGO_URI=mongodb://localhost:27017
STARWARS_CATEGORIES=Saga_films,Type_I_atmosphere_planets,Type_II_atmosphere_planets,Type_III_atmosphere_planets,Type_IV_atmosphere_planets
